<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css"> <!--note: looking in the public folder automatically-->
    <title> <%=name%> Subreddit</title>
</head>
<body>
    <h1>Welcome to the <%= name %> subreddit</h1>
    <h2> <%= description %> </h2>
    <p> <%= subscribers%> Total Subscribers</p>
    <hr> <!-- add horizontal line-->
    <% for(let post of posts) { %>
    <article>
        <p> <%= post.title %> - <b> <%= post.author %> </b></p>
        <% if(post.img) { %>
        <img src="<%= post.img %>" alt="">
        <% } %>
    </article>
    <% } %>    
</body>
</html>